*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-fluid {
color: black;
}

.media {
    padding: 20px 20px;
    font-size: 16px;
    width: 50px;
    margin: 10px 30px;
    color: black;
}
#projects {
    min-height: 50vw;
}
.icons {
list-style-type: none;
position: fixed;
margin-top: 160px;
}

.LandingPage {
    text-align: center;
    /*font-size: 300px;*/
    margin-top: 220px;
    padding: 20px;
    margin-bottom: 190px;
}
/* Footer Section*/
.footer{
    padding: 18px 20px;
}
/*@keyframes example {
    from{background-color:whitesmoke;}
    to{background-color: purple;}
}
.text-white text-center mt-2 {
    width: 100px;
    height: 100px;
    background-color: whitesmoke;
    animation-name: example;
    animation-duration: 4s;
}*/

body {
    background-color: pink;
    font-family: 'Times New Roman', Times, serif;
    color: gray;
    /* overflow-y: hidden; */
    
}
h2 {
    text-align: center;
    font-size: 50px;
    margin-top: 5px;

}
.col img {
    padding: 20px;
    width: 300px;
    margin-left: 2px;
    
}
.me {
    display: flex;
}
.carousel slide {
    width: 100px
}

/* media query*/    
@media screen and (min-width: 300px) {
    .container {
        width: 50vw;
        flex-flow: column wrap;
    }
    .container img {
        width: 100%;

        
    }
}
@media screen and (min-width: 576px) {
    .container {
        width: 50vw;
        flex-flow: column wrap;
    }
    .container img {
        width: 100%;

        
    }
}
@media screen and (min-width: 1200px) {
    .container {
        width: 50vw;
        flex-flow: column wrap;
    }
    .container img {
        width: 100%;

        
    }
}

.noname {
    font-size: 32px;
    padding: 2px;

}